body {
  position: relative;
  font-family: 'source sans pro', sans-serif;
  font-size: 19px;
  color: #5A646E;
  font-weight: 300;
  text-align: center;
  background-image: url('https://www.bankjoy.com/assets/images/backgrounds/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#color-overlay {
  background-color: rgba(61,70,100,0.86);
}

header {
  margin: 0 auto;
  position: relative;
  max-width: 200px;
  height: 200px;
}

.logo{
  position: relative;
  padding-top: 100px;
  width: 250px;
  height: 70px;
}

#contactinfo {
  position:absolute;
  color: white;
  top:0;
  right:0;
  text-align: right;
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.banner {
  position: relative;
  color: white;
  font-size: 45px;
}

.slogan {
  position: relative;
  color: white;
  font-size: 15px;
  font-weight: 500;
  padding-bottom: 100px;
}

#button {
  position: relative;
  border-radius: 100px;
  background-color: rgb(80,111,220);
  font-weight: 400;
  width: 500px;
  height: 30px;
  padding-top: 10px;
  margin: 0 auto;
}

.phones {
  position: relative;
  background-position: center;
  padding-top: 100px;
}

.middlephone {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  bottom: 1%;
  width: 260px;
  height: 530px;
  z-index: 3;
}

.leftphone {
  position: relative;
  padding-right: 50px;
  width: 250px;
  height: 500px;
  z-index: 1;
}

.rightphone {
  position: relative;
  width: 250px;
  height: 500px;
  padding-left: 50px;
  z-index: 1;
}
